###### num1=input("Enter 3 numbers\n")
num2=input()
num3=input()
if(num1 > num2):
    if(num1 > num3):
        print("The greatest number is "+ str(num1))
    else:
        print("the greatest number is "+ str(num3))
else:
    if(num2 > num3):
        print("The greatest number is " + str(num2))
    else:
        print("The greatest number is " + str(num3))
        
if(num1 < num2):
    if(num1 < num3):
        print("The greatest number is "+ str(num1))
    else:
        print("the greatest number is "+ str(num3))
else:
    if(num2 < num3):
        print("The greatest number is " + str(num2))
    else:
        print("The greatest number is " + str(num3))

In [7]:
num1=input("Enter 3 numbers\n")
num2=input()
num3=input()
if(num1 > num2):
    if(num1 > num3):
        print("The greatest number is "+ str(num1))
    else:
        print("the greatest number is "+ str(num3))
else:
    if(num2 > num3):
        print("The greatest number is " + str(num2))
    else:
        print("The greatest number is " + str(num3))
if(num1 < num2):
    if(num1 < num3):
        print("The minimum number is "+ str(num1))
    else:
        print("the minimum number is "+ str(num3))
else:
    if(num2 < num3):
        print("The minimum number is " + str(num2))
    else:
        print("The minimum number is " + str(num3))

Enter 3 numbers
15
10
A
the greatest number is A
The minimum number is 10

In [5]:
num1 = 5
print(num1, 'is of type', type(num1))

num2 = 2.0
print(num2, 'is of type', type(num2))

num3 = 1+2j
print(num3, 'is of type', type(num3))

name = 'Python'
print(name)  

message = 'Python for beginners'
print(message)

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is of type <class 'complex'>
Python
Python for beginners

In [10]:
a = ("Geeks", "for", "Geeks") 
b = ["Geeks", "for", "Geeks"] 
c = {"Geeks": 1, "for":2, "Geeks":3} 
d = "Hello World" 
e = 10.23 
f = 11.22 
g = True 
h = 5 
i = id("raksha") 
print(type(a)) 
print(type(b)) 
print(type(c)) 
print(type(d)) 
print(type(e)) 
print(type(f)) 
print(type(g)) 
print(type(h)) 
print(type(i)) 
print(i)

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'int'>
3066123062576

In [11]:
# print first 5 integers
# using python range() function
for i in range(5):
	print(i, end=" ")
print()

0 1 2 3 4

In [12]:
rows = int(input("Enter the number of rows: "))  
  
# the outer loop is executing in reversed order  
for i in range(rows + 1, 0, -1):    
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [2]:
# Python program to convert decimal into other number systems
#base convertion program
dec = 128

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 128 is:
0b10000000 in binary.
0o200 in octal.
0x80 in hexadecimal.

In [3]:
#Python Implicit Type Conversion
#In certain situations, Python automatically converts one data type to another. This is known as implicit type conversion.


#Converting integer to float
integer_number = 123
float_number = 1.23

new_number = integer_number + float_number

# display new value and resulting data type
print("Value:",new_number)
print("Data Type:",type(new_number))

Value: 124.23
Data Type: <class 'float'>

In [4]:
#Explicit Type Conversion

#In Explicit Type Conversion, users convert the data type of an object to required data type.

#We use the built-in functions like int(), float(), str(), etc to perform explicit type conversion.

#This type of conversion is also called typecasting because the user casts (changes) the data type of the objects.

num_string = '12'
num_integer = 23

print("Data type of num_string before Type Casting:",type(num_string))

# explicit type conversion
num_string = int(num_string)

print("Data type of num_string after Type Casting:",type(num_string))

num_sum = num_integer + num_string

print("Sum:",num_sum)
print("Data type of num_sum:",type(num_sum))

Data type of num_string before Type Casting: <class 'str'>
Data type of num_string after Type Casting: <class 'int'>
Sum: 35
Data type of num_sum: <class 'int'>

In [5]:
#Arithmetic Operators in Python

a = 7
b = 2

# addition
print ('Sum: ', a + b)  

# subtraction
print ('Subtraction: ', a - b)   

# multiplication
print ('Multiplication: ', a * b)  

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

In [6]:
#Relational opertor

a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [7]:
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c += a
print ("Line 2 - Value of c is ", c)

c *= a
print ("Line 3 - Value of c is ", c )

c /= a 
print( "Line 4 - Value of c is ", c )

c  = 2
c %= a
print ("Line 5 - Value of c is ", c)

c **= a
print ("Line 6 - Value of c is ", c)

c //= a
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  52
Line 3 - Value of c is  1092
Line 4 - Value of c is  52.0
Line 5 - Value of c is  2
Line 6 - Value of c is  2097152
Line 7 - Value of c is  99864

In [1]:
#relational operator
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

In [2]:
# logical AND
print(True and True)     # True
print(True and False)    # False

# logical OR
print(True or False)     # True

# logical NOT
print(not True)          # False

True
False
True
False

In [3]:
#membership operator
x = 'Hello world'
y = {1:'a', 2:'b'}

# check if 'H' is present in x string
print('H' in x)  # prints True

# check if 'hello' is present in x string
print('hello' not in x)  # prints True

# check if '1' key is present in y
print(1 in y)  # prints True

# check if 'a' key is present in y
print('a' in y)  # prints False

True
True
True
False

In [4]:
#assignment operator
# assign 10 to a
a = 10

# assign 5 to b
b = 5 

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

# Output: 15

15

In [5]:
# Python program to show
# bitwise operators

a = 10
b = 4

# Print bitwise AND operation
print("a & b =", a & b)

# Print bitwise OR operation
print("a | b =", a | b)

# Print bitwise NOT operation
print("~a =", ~a)

# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [6]:
#ternery operator
# Program to demonstrate conditional operator
a, b = 10, 20

# Copy value of a in min if a < b else copy b
min = a if a < b else b

print(min)

10

In [7]:
x=5
y=5
z=6
print(x is y)
id(x)
id(y)

print(x is not z)

print(x is not y)


print(x !=y)

True
True
False
False
False

In [8]:
#input()
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
nethra
Hello, nethra

In [9]:
#print()
print("Hello World")

Hello World

In [10]:
# ends the output with a space
print("Welcome to", end = ' ')
print("GeeksforGeeks", end= ' ')

Welcome to GeeksforGeeks

In [11]:
#replace operator
string = "grrks FOR grrks"

# replace all instances of 'r' (old) with 'e' (new)
new_string = string.replace("r", "e" )

print(string)
print(new_string)

grrks FOR grrks
geeks FOR geeks

In [12]:
#if statement
number = 10

# check if number is greater than 0
if number > 0:
    print('Number is positive.')

print('The if statement is easy')

Number is positive.
The if statement is easy

In [13]:
#if else
number = 10

if number > 0:
    print('Positive number')

else:
    print('Negative number')

print('This statement is always executed')

Positive number
This statement is always executed

In [14]:
#if else if
number = 0

if number > 0:
    print("Positive number")

elif number == 0:
    print('Zero')
else:
    print('Negative number')

print('This statement is always executed')

Zero
This statement is always executed

In [15]:
#while loop
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

In [16]:
#for loop
# this loop is iterated 4 times (0 to 3)
for i in range(4):
    print(i)

0
1
2
3

In [17]:
#break

for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [18]:
#continue
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [1]:
#pass
n = 10

# use pass inside if statement
if n > 10:
    pass

print('Hello')

Hello

In [6]:
rows = 6

for num in range(rows):

    for i in range(abcd):
        print(num, end="") # print number

    # line after each row to display pattern correctly

    print("")

NameError: name 'abcd' is not defined

In [1]:
import cv2
cv2.__version__

'4.5.5'